{% extends 'layout/admin-layout.html.twig' %}

{% block descritption %}

{% endblock %}

{% block title %}
CarManager - Ajout d'un point de ventes
{% endblock %}

{% block container %}
<section>
    <h1>Ajout d'un point de ventes</h1>
    <div class="wrapper-grid-container">
        {{ form_start(form) }}
        <div class="floating-label" style="margin: 2em 0">
            {{ form_widget(form.name) }}
            {{ form_label(form.name) }}
        </div>
        <div class="floating-label" style="margin: 2em 0">
            {{ form_widget(form.code) }}
            {{ form_label(form.code) }}
        </div>
        <div class="floating-label" style="margin: 2em 0">
            {{ form_widget(form.plaque) }}
            {{ form_label(form.plaque) }}
        </div>
        <div class="floating-label" style="margin: 2em 0">
            {{ form_widget(form.brand) }}
            {{ form_label(form.brand) }}
        </div>
        <div>
            <button type="submit" class="btn btn-mout mt-2">Enregistrer</button>
        </div>
        {{ form_end(form) }}
    </div>
</section>
{% endblock %}